{% extends 'header.html'%}
{% load static %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="content">
                    <div class="post-thumb">
                            <div class="videoWrapper">
                                    {% if post.Image %}
                                    
                                <img width="560" height="349" src= {{post.Image.url}} alt="">
                                {% endif %}
                                
                            </div>
                        <!-- /.social icon -->
                    </div>
                    <h1>{{ post.Title }}</h1>
                    <div class="date">
                        <ul>
                            <li>By<a title="" href="#"><span>{{ post.Author }}</span></a> --</li>
                            <li><a title="" href="#">{{ post.Date_Created }}</a> --</li>
                            <li><a title="" href="#"><span>275 Comments</span></a></li>
                        </ul>
                    </div>
                    <p>{{post.Description}}</p>
                    
                    <div class="tags">
                        <ul>
                            <li> <a href="#">Education</a></li>
                            <li> <a href="#">Health &amp; Fitness</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Collage</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Music</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Lifestyle</a></li>
                        </ul>
                    </div>
                    <!-- Related news area
                        ============================================ -->
                    <div class="related-news-inner">
                        <h3 class="category-headding ">RELATED News</h3>
                        <div class="headding-border"></div>
                        <div class="row">
                            <div id="content-slide-5" class="owl-carousel">
                                <!-- item-1 -->
                                <div class="item">
                                    <div class="row rn_block">
                                        {% for p in posts %}
                                        <div class="col-xs-6 col-md-4 col-sm-4 padd">
                                            <div class="post-wrapper effects">
                                                <!-- image -->
                                                <div class="post-thumb">
                                                    {% if p.Image %}
                                                    <a href="{% url 'details' p.id %}">
                                                        <img class="img-responsive" src={{ p.Image.url }} alt="">
                                                       
                                                    </a>
                                                    {%  endif %}
                                                </div>
                                            </div>
                                            <div class="post-title-author-details">
                                                <h4><a href="{% url 'details' p.id %}">{{ p.Title }}</a></h4>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- item-2 -->
                                <div class="item">
                                    <div class="row rn_block">
                                      
                                            {% for blog in blogs %}                                        
                                        <div class="col-xs-6 col-md-4 col-sm-4 padd">
                                            <div class="post-wrapper effects">
                                                <!-- image -->
                                                <div class="post-thumb">
                                                        {% if blog.Image %}
                                                        <a href="{% url 'blog-details' blog.id %}">
                                                            <img class="img-responsive" src={{ blog.Image.url }} alt="">
                                                           
                                                        </a>
                                                        {%  endif %}
                                                </div>
                                            </div>
                                            <div class="post-title-author-details">
                                                <h4><a href="{% url 'blog-details' blog.id %}">{{ blog.Title }}</a></h4>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- form
                        ============================================ -->
                    <div class="form-area">
                        <h3 class="category-headding ">LEAVE A COMMENT</h3>
                        <div class="headding-border"></div>
                        <form action =" {% url 'comment' post.id %} " method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <span class="input">
                                        <input class="input_field" name='name' type="text" id="input-1">
                                        <label class="input_label" for="input-1">
                                            <span class="input_label_content"  data-content="Your Name">Your Name</span>
                                        </label>
                                    </span>
                                </div>
                               
                                <div class="col-sm-12">
                                    <span class="input">
                                        <textarea class="input_field" name='desc' id="message"></textarea>
                                        <label class="input_label" for="message">
                                            <span class="input_label_content" data-content="Your Email">Your Message</span>
                                        </label>
                                    </span>
                                    <button type="submit" class="btn btn-style">Post Your Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- comment box
                            ============================================ -->
                    <div class="comments-container">
                        <h1>Comment </h1>
                        <ul id="comments-list" class="comments-list">
                          
                                 {% for postCommm in pcomm %}
    
                            <li>
                                <div class="comment-main-level">
                                    <!-- Avatar -->
                                    <div class="comment-avatar">
                                        <img src="{% static 'images/archive/default-img2.jpg' %}" class="img-circle" alt="">
                                    </div>
                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name  by-author">
                                                <a href="#">{{ postCommm.name }}</a>
                                            </h6>
                                            <span>hace 20 minutos</span>
                                            <i class="fa fa-reply"></i>
                                            <i class="fa fa-heart myJs" ></i>
                                        </div>
                                        <div class="comment-content">
                                            {{ postCommm.Body }}
                                        </div>
                                    </div>
                                </div>
    
                            </li>
                            {% endfor %} 
                            
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-sm-4 left-padding">
                <aside class="sidebar">
                    <div class="input-group search-area">
                        <!-- search area -->
                        <input type="text" class="form-control" placeholder="Search articles here ..." name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <!-- /.search area -->
                   
                    <div class="tab-inner">
                        <ul class="tabs">
                            <li><a href="#">POPULAR</a></li>
                            <li><a href="#">MOST VIEWED</a></li>
                        </ul>
                        <hr>
                        <!-- tabs -->
                        <div class="tab_content">
                            <div class="tab-item-inner">
                                {% for p in posts %}
                                <div class="box-item wow fadeIn effects" data-wow-duration="1s">
                                        <div class="img-thumb">
                                                {% if p.Image %}
                                                <a href="{% url 'details' p.id %}" rel="bookmark"><img class="entry-thumb" src={{ p.Image.url }} alt="" height="80" width="90">
                                                   
                                                </a>
                                                {% endif %}
                                            </div>
                                    <div class="item-details">
                                        <h6 class="sub-category-title bg-color-1">
                                                <a href="{% url 'details' p.id %}">{{ p.Category }}</a>
                                            </h6>
                                        <h3 class="td-module-title"><a href="{% url 'details' p.id %}">{{ p.Title }}</a></h3>
                                        <div class="post-editor-date">
                                            <!-- post date -->
                                            <div class="post-date">
                                                <i class="pe-7s-clock"></i> {{ p.Date_Created }}
                                            </div>
                                            <!-- post comment -->
                                            <div class="post-author-comment"><i class="pe-7s-comment"></i> 13 </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                                
                                
                            </div>
                            <!-- / tab item -->
                            <div class="tab-item-inner">
                                {% for blog in blogs %}
                                <div class="box-item effects">
                                    <div class="img-thumb">
                                        {% if blog.Image %}
                                        <a href="{% url 'blog-details' blog.id %}" rel="bookmark"><img class="entry-thumb" src={{ blog.Image.url }} alt="" height="80" width="90">
                                           
                                        </a>
                                        {% endif %}
                                    </div>
                                    <div class="item-details">
                                        <h6 class="sub-category-title bg-color-5">
                                                <a href="{% url 'blog-details' blog.id %}">{{ blog.Category }}</a>
                                            </h6>
                                        <h3 class="td-module-title"><a href="{% url 'blog-details' blog.id %}">{{blog.Title}}</a></h3>
                                        <div class="post-editor-date">
                                            <!-- post date -->
                                            <div class="post-date">
                                                <i class="pe-7s-clock"></i>{{blog.Date_Created}}
                                            </div>
                                            <!-- post comment -->
                                            <div class="post-author-comment"><i class="pe-7s-comment"></i> 13 </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                              
                               
                            </div>
                            <!-- / tab item -->
                        </div>
                        <!-- / tab_content -->
                    </div>
                    <!-- / tab -->
                    <!-- comments -->
                    <div class="latest-comments-inner">
                        <h3 class="category-headding ">LATEST COMMENT</h3>
                        <div class="headding-border"></div>
                        <!-- latest comment post -->
                        <div class="post-style2 latest-com">
                            <img src="{% static 'images/comment-01.jpg' %}" alt="">
                            <div class="latest-com-detail">
                                <h5><a href="#" title="">It uses a dictionary of over</a></h5>
                                <span>Nec sagittis sem nibh dictionary...</span>
                                <p>Proin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </div>
                        <!-- latest comment post -->
                        <div class="post-style2 latest-com">
                            <img src="{% static 'images/comment-02.jpg' %}" alt="">
                            <div class="latest-com-detail">
                                <h5><a href="#" title="">It uses a dictionary of over</a></h5>
                                <span>Nec sagittis sem nibh dictionary...</span>
                                <p>Proin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </div>
                    </div>
                    <!-- slider widget -->
                    <div class="widget-slider-inner">
                        <h3 class="category-headding ">Slider Widget</h3>
                        <div class="headding-border"></div>
                        <div id="widget-slider" class="owl-carousel owl-theme">
                            <!-- widget item -->
                            {% for blog in blogs%}
                            <div class="item effects">
                                <div class="post-thumb">
                                    {% if blog.Image %}
                                    <img src={{ blog.Image.url }} alt="">
                                    {% endif %}
                                </div>
                                <h4><a href="{% url 'blog-details' blog.id %}">{{ blog.Title }}</a></h4>
                                <div class="date">
                                    <ul>
                                        <li>By<a title="" href="{% url 'blog-details' blog.id %}"><span>{{ blog.Author }}</span></a> --</li>
                                        <li><a title="" href="{% url 'blog-details' blog.id %}">{{ blog.Date_Created }}</a></li>
                                    </ul>
                                </div>
                                <p>{{blog.Description|slice:50}}...</p>
                            </div>
                            {% endfor %}
                            
                            
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}